@page "/usefulSite"

<h1>Some useful site.</h1>

<div class="col d-flex align-items-start mt-4">
    <span class="oi oi-link-intact text-muted flex-shrink-0 me-3" aria-hidden="true"></span>
    <div>
        <h4 class="fw-bold mb-0">DataBase</h4>
        <p>
            <a href="https://mhrise.kiranico.com/">Kiranico</a> <br />
            <a href="http://mhrise.mhrice.info/">MHrice</a> <br />
            <a href="https://robomeche.github.io/MHRise-Database/">MHRise-Database</a> <br />
        </p>
    </div>
</div>

<div class="col d-flex align-items-start">
    <span class="oi oi-link-intact text-muted flex-shrink-0 me-3" aria-hidden="true"></span>
    <div>
        <h4 class="fw-bold mb-0">Function</h4>
        <p><a href="https://mhrise.wiki-db.com/sim/">Monster Hunter Rise:Sunbreak Armorset Search</a></p>
    </div>
</div>
